$pColor: hsl(0, 0%, 48%);

.container {
  text-align: center;
  background-color: #ffff;

  padding: 3rem 1rem;
  border-radius: .5rem;
  
  h1 {
    margin: 1.5rem 0;
    font-size: 1.3rem;
  }

  p {
    color: $pColor;
    font-size: .9rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 2rem;
  }

  @media (min-width: 600px) {
    // .container {
      margin: auto;
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // align-items: center;
      width: 400px;
      // height: 100px;
    // }
  }
}