.bordered__project {
  // background-color: white;
  border: 1.25px solid rgb(207, 204, 204);
  border-radius: .4rem;

  margin-bottom: 1.75rem;
}



.radio-selected {
  border: 2px solid hsl(176, 50%, 47%);
}